<html>
    <title>Schedule Timer </title>
    <body>
        <form>
            <label for="jobs">Choose a Job Type:</label>
            <select name="jobs" id="jobs">
                <option value="Interval">Interval</option>
                <option value="OneTime">OneTime</option>
            </select>
        </form>
    </body>
</html>